.terraform
terraform/pixeon-cloud/iaas/aws/elasticache/redis/terraform\.tfstate\.d/prod_alliar/terraform\.tfstate\.1542151949\.backup

terraform/pixeon-cloud/iaas/aws/korus/dev/dev\.adonis/
terraform/pixeon-cloud/iaas/aws/korus.gateway/dev/dev\.adonis/
